- @alliances.each do |alliance|
  .row
    .col-md-5.col-md-offset-3
      = link_to alliance_path(ticker: alliance.ticker) do
        %h4
          = alliance.name
          %small
            = "<#{alliance.ticker}>"
    .col-md-1
      %h4
        %small
          = alliance.current_member_count
