%h2
  = @alliance.name
%p.lead
  = "<#{@alliance.ticker}> is #{state_of @alliance}"

.row
  .col-md-3.col-sm-4
    .text-center
      = image_tag "http://image.eveonline.com/alliance/#{@alliance._id}_128.png"
    %dl
      %dt Current members
      %dd
        = @alliance.current_member_count
        %i.icon-user
      %dt Last updated
      %dd= I18n.l @alliance.updated_at
  .col-md-9.col-sm-8
    .chart{ data: { series: @alliance.chart_series.to_json } }
