%h1
  = @alliance.name
  %small
    is
    = state_of @alliance

.row
  .col-md-2.col-sm-3
    %dl
      %dt Ticker
      %dd= @alliance.ticker
      %dt Current members
      %dd= @alliance.current_member_count
      %dt Last updated
      %dd= I18n.l @alliance.updated_at
  .col-md-10.col-sm-9
    .chart{ data: { series: @alliance.chart_series.to_json } }
