%h2
  = @alliance.name
%p.lead
  = "<#{@alliance.ticker}> is #{state_of @alliance}"

.row
  .col-md-3.col-sm-4
    .text-center
      = image_tag "http://image.eveonline.com/alliance/#{@alliance._id}_128.png"
    %dl
      = attribute @alliance, :current_member_count
      - if @alliance.sov_held > 0
        = attribute @alliance, :sov_held
      = attribute @alliance, :established
      - if @alliance.predicted_collapse
        = attribute @alliance, :predicted_collapse
      %dt
        More information
      %dd
        = link_to "http://evemaps.dotlan.net/alliance/#{@alliance._id}", target: '_blank' do
          DOTLAN
          %i.icon-share-alt
      %dt
        Killboard
      %dd
        = link_to "http://zkillboard.com/alliance/#{@alliance._id}", target: '_blank' do
          zKillboard
          %i.icon-share-alt
  .col-md-9.col-sm-8
    .chart{ data: { series: @alliance.chart_series.to_json, updatestamp: @alliance.updatestamp } }
